h1 {
    color:rgb(255, 251, 251);
    background-color:#7E6363;
    text-align: center;
    font-size: 96px;
    font-family: sans-serif;
    font-weight:bold;
}
/*the home page background color code. */
body{
    background-color: #3E3232;
}
/*navigation box design code. */
#navigate {
    background-color:aliceblue;
    padding:5px;
    font-weight:bold;
    padding-left:250px;
    
}
a{
    text-decoration:none;
    color:black;
    margin: 200px;
    font-size: 20px;
}
/* addding elements in home page in process.*/
#elements {
    color:bisque;
    background-color: #e2d4d4;
    width: 100px;
    height: 100px;
}
